{**
 * AdminModule:Upload default.latte template
 *
 * @author Ondřej Profant
 *
 * @param string   $basePath web base path
 * @user Nette\Security\User
 *}

{block content}
<div class="container">
<h1 n:block="title">
    Admin: upload
</h1>

{control upload}
</div>
{/block}